/* Cat Clock Specific Styles */
.clock { position: relative; height: 6em; width: 6em; font-size: 40px; }
.clock__inner { background: #fff; border: 0.2em solid #F27398; border-radius: 50%; height: 100%; position: absolute; top: 0; left: 0%; width: 100%; z-index: 6; }
.clock__nums { background: #F27398; border-radius: 100%; display: block; height: 0.5em; list-style: none; margin: 0; padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 0.5em; z-index: 10; }
.clock__num { height: 2.8em; position: absolute; left: 50%; bottom: 0.25em; margin-left: -0.25em; text-align: center; transform-origin: center bottom; width: 0.5em; z-index: 3; }
.clock__num--12 { transform: rotate(360deg); }
.clock__num__text { color: #95a5a6; display: inline-block; font-size: 0.8em; transform: rotate(-360deg); }
.clock__needles { height: 0.5em; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 0.5em; z-index: 9; }
.clock__needle { border-radius: 0.08em 0.08em 0 0; height: 2em; margin-left: -0.08em; position: absolute; bottom: 0.25em; left: 50%; transform-origin: center bottom; width: 0.16em; }
.clock__needle--hour { background: #95a5a6; height: 1.4em; } 
.clock__needle--min { background: #F27398; } 
.clock__needle--sec { background: #aaa; margin-left: -0.04em; width: 0.08em; }
.clock__needle--sec:before { background: #aaa; border-radius: 0 0 0.08em 0.08em; content: ""; height: 0.8em; margin-left: -0.04em; position: absolute; top: 100%; left: 50%; width: 0.08em; }

.cat { height: 6em; position: absolute; top: 0; left: 0; width: 100%; }
.cat__face { background: var(--cat-main); border-radius: 50%; height: 4em; overflow: hidden; position: absolute; top: -3.5em; left: 0%; width: 6em; z-index: 5; }
.cat__face__pattern { background: var(--cat-pattern); position: absolute; }
.cat__face__pattern:before, .cat__face__pattern:after { background: var(--cat-pattern); content: ""; position: absolute; }
.cat__face__pattern--top { border-radius: 0 0 50% 50%; height: 1em; margin-left: -0.1em; top: 0; left: 50%; width: 0.2em; }
.cat__face__pattern--top:before { border-radius: 0 0 50% 50%; height: 0.6em; margin-left: -0.6em; top: 0; left: 50%; width: 0.2em; }
.cat__face__pattern--top:after { border-radius: 0 0 50% 50%; height: 0.6em; margin-right: -0.6em; top: 0; right: 50%; width: 0.2em; }
.cat__face__pattern--left { border-radius: 0 50% 50% 0; height: 0.2em; margin-top: -0.1em; top: 50%; left: 0; width: 1em; }
.cat__face__pattern--left:before { border-radius: 0 50% 50% 0; height: 0.2em; margin-top: -0.6em; top: 50%; left: 0; width: 0.6em; }
.cat__face__pattern--left:after { border-radius: 0 50% 50% 0; height: 0.2em; margin-bottom: -0.6em; bottom: 50%; left: 0; width: 0.6em; }
.cat__face__pattern--right { border-radius: 50% 0 0 50%; height: 0.2em; margin-top: -0.1em; top: 50%; right: 0; width: 1em; }
.cat__face__pattern--right:before { border-radius: 50% 0 0 50%; height: 0.2em; margin-top: -0.6em; top: 50%; right: 0; width: 0.6em; }
.cat__face__pattern--right:after { border-radius: 50% 0 0 50%; height: 0.2em; margin-bottom: -0.6em; bottom: 50%; right: 0; width: 0.6em; }
.cat__ears { height: 1em; position: absolute; top: -3.5em; left: 0; width: 100%; z-index: -1; }
.cat__ears__ear { background: var(--cat-main); border-radius: 25%; height: 1.8em; position: absolute; top: -0.3em; width: 1.8em; }
.cat__ears__ear:before { content: ""; background: #f4e8da; border-radius: 25%; height: 1.4em; margin-top: -0.7em; margin-left: -0.7em; position: absolute; top: 50%; left: 50%; width: 1.4em; }
.cat__ears__ear--left { left: 0.5em; transform: rotate(20deg); } 
.cat__ears__ear--right { right: 0.5em; transform: rotate(-20deg); }
.cat__eyes { height: 1em; position: absolute; top: 1.2em; width: 100%; }
.cat__eyes__eye { background: #333; border: 0.06em solid #333; border-top: 0.12em solid #333; height: 1em; overflow: hidden; position: absolute; bottom: 0; width: 1.3em; }
.cat__eyes__eye:before { background: #69CC68; content: ""; height: 1em; position: absolute; top: 0; width: 1.2em; }
.cat__eyes__eye:after { background: #333; border-radius: 50%; content: ""; height: 1em; margin-top: -0.25em; position: absolute; top: 0em; width: 1em; }
.cat__eyes__eye span { background: #fff; border-radius: 50%; height: 0.2em; margin-left: -0.1em; margin-top: -0.2em; position: absolute; top: 50%; left: 50%; width: 0.2em; z-index: 1; }
.cat__eyes__eye--left { border-radius: 0 70% 0 70%; left: 1.1em; } 
.cat__eyes__eye--left:before { border-radius: 0 50% 50% 50%; left: 0; } 
.cat__eyes__eye--left:after { margin-left: -0.45em; left: 50%; }
.cat__eyes__eye--right { border-radius: 70% 0 70% 0; right: 1.1em; } 
.cat__eyes__eye--right:before { border-radius: 50% 0 50% 50%; right: 0; } 
.cat__eyes__eye--right:after { margin-right: -0.45em; right: 50%; }
.cat__eyes__eyelid { background: var(--cat-main); height: 0; position: absolute; left: 0; top: 0; width: 100%; z-index: 10; transition: height 0.1s; }
.blink { height: 100% !important; }
.cat__nose { border-top: 0.5em solid #F26752; border-left: 0.5em solid transparent; border-right: 0.5em solid transparent; height: 0.5em; margin-left: -0.5em; position: absolute; top: 2.5em; left: 50%; width: 1em; }
.cat__mouth { margin-left: -1em; overflow: hidden; position: absolute; top: 3em; left: 50%; height: 1em; width: 2em; }
.cat__mouth:before, .cat__mouth:after { border: 0.01em solid #333; border-radius: 50%; content: ""; display: block; height: 0.8em; position: absolute; top: -0.4em; width: 50%; }
.cat__mouth:before { margin-left: -0.04em; left: 0; } 
.cat__mouth:after { margin-right: -0.04em; right: 0; }
.cat__tail { height: 2em; position: absolute; bottom: 0.04em; left: 0; width: 100%; z-index: 0; }
.cat__tail__inner { background: var(--cat-main); border-radius: 0 0 3em 3em; height: 2em; overflow: hidden; position: absolute; top: 2em; left: 3em; width: 3em; animation: tail 2s infinite alternate; transform-origin: top left; }
@keyframes tail { from { transform: rotate(-10deg); } to { transform: rotate(10deg); } }
